# Ignorar credenciais e arquivos de configuração sensíveis
config.php
.env

# Ignorar pastas de ambiente virtual do Python
venv/
__pycache__/

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos pesados de mídia e documentos
videos/
uploads_fluxo/
templates/
*.mp4
*.pdf

# Bloquear a pasta inteira onde os uploads e docs da intranet ficam
docs/
uploads/

# Bloquear qualquer arquivo de imagem PNG em qualquer lugar do projeto
.png
.txt

# Opcional: Se quiser bloquear os arquivos do Word que apareceram no print
*.docx
*.doc

# Ignora tudo dentro da pasta campanhas
img/comunicacao/campanhas/
img/

# Dependências instaladas pelo Composer
vendor/

# Temporários e cache do Python
python/__pycache__/
*.pyc
*.pyo
*.log

# PDFs utilizados e gerados pelos testes
python/testes/*.pdf
python/testes/RESULTADO_TESTE_*

# Permitir somente os templates de e-mail
!templates/
templates/*
!templates/emails/
!templates/emails/**